@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

/*Header*/
header{
    background: rgb(6,6,62);
    background: linear-gradient(90deg, rgba(6,6,62,1) 27%, rgba(23,33,120,1) 92%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
  }

  header .logo{
    margin-left: 5%;
  }
  
  header .links{
    text-transform: uppercase;
    margin-right: 5%;
  }
  
  .links a{
    text-decoration: none;
    color: white;
    margin-right: 6%;
    font-size: 100%;
  }

  .links a:hover{
    cursor: pointer;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }

/*Banner*/
.banner{
    width: 100%;
    height: 80vh;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes banner {
    0%, 20%{
        background-image:url(./img/1.jpeg);
    }
    25%, 45%{
        background-image: url(./img/2.jpeg);
    }
    50%, 70%{
        background-image: url(./img/3.jpeg);
    }
    75%, 100%{
        background-image: url(./img/4.jpeg);
    }
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}

.info{
    z-index: 1;
    width: 50vw;
    text-align:center;
}

.info h1{
    color: #fff;
    text-shadow: 2px 2px 4px black;
    font-size: 150%;
    letter-spacing: 1px;
}

.info hr{
    margin-bottom: 3%;
    width: 47vw;
}

.info a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 2px 2px 4px black;
    background-color: rgb(6,6,62);
    padding: 2% 2%;
    display: inline-block;
    transition: background-color 0.8s ease;
}

.info a:hover{
    cursor: pointer;
    background-color: rgb(18, 26, 102);
}

/*Cards*/
.uno{
    margin-top: 4%;
}

.dos{
    margin-top: 6.8%;
}

.subtitulo{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(18,26,102);
    text-transform: uppercase;
    font-size: 240%;
}

.card{
    margin-top: 8%;
    background-color: white;
    width: 20vw;
    box-shadow: 0px 0px 1.5px black;
    border-radius: 3%;
    transition: transform 0.5s ease-in-out;
}

.card:hover{
  background-color: white;
  width: 20vw;
  box-shadow: 0px 0px 6px black;
  transform: scale(1.1);
}

.containerCard{
    /* margin-top: 4%; */
    margin-bottom: 3%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,0fr);
    gap: 20px;
}

.card img{
    width: 20vw;
    border-radius:3% 3% 0% 0%;
}

.detail{
    padding: 0% 5% 5%;
}

.detail div{
    display: flex;
    align-items: center;
    margin-bottom: 0%;
    height: 5vh;
}

.detail div .par{
    padding: 1%;
    border-radius: 12%;
    font-size: 75%;
    font-weight: 600;
}

.detail div .uno{
    background-color: orange;
}


.detail div .dos{
    margin-left: 2%;
    background-color: rgb(58, 184, 58);
    color: white;
}

.detail div .tres{
    background-color: red;
    color: white;
}

.detail div .cuatro{
    margin-left: 2%;
    background: rgb(198,55,19);
    background: linear-gradient(0deg, rgba(198,55,19,1) 10%, rgba(231,70,30,1) 26%, rgba(238,218,28,1) 27%, rgba(238,218,28,1) 72%, rgba(231,70,30,1) 74%, rgba(198,55,19,1) 90%);    color: black;
}
.detail div .cinco{
    background-color: black;
    color: white;
}

.detail div .seis{
    margin-left: 2%;
    background: rgb(19,146,198);
    background: linear-gradient(0deg, rgba(19,146,198,1) 10%, rgba(46,180,205,1) 26%, rgba(255,255,255,1) 27%, rgba(255,255,255,1) 72%, rgba(46,180,205,1) 74%, rgba(19,146,198,1) 90%);
    color: #d1c027;
}

.detail div .par:hover{
    cursor: pointer;
    font-weight: 600;
}

.detail div .uno:hover{
    background-color: black;
    color: orange;
}

.detail div .dos:hover{
    background-color: white;
    color: rgb(58, 184, 58);
    box-shadow: 0px 0px 1px black;
}

.detail div .tres:hover{
    background-color: white;
    color:red;
    box-shadow: 0px 0px 1px black;
}

.detail div .cuatro:hover{
    background-color: #eeda1c;
}

.detail div .cinco:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 1px black;
}

.detail h4{
    text-transform: uppercase;
    margin-bottom: 0%;
    margin-top: 0%;
}

.detail p{
    margin-top: 5%;
    font-size: 85%;
}

.detail span{
    font-weight: 600;
}

/*Ofertas*/
.contenedor {
    margin-top: 4%;
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
  }

  
.contenedor2{
    width: 60vw;
    display: flex;
    border-radius: 2%;
    box-shadow: 0px 0px 1px black;
    transition: transform 0.6s ease-in-out;
}
    
.contenedor2:hover{
    box-shadow: 0px 0px 6px black;
    transform: scale(1.1);
}

.contenedor2 img{
    width: 30vw;    
    height: 50vh;
    border-radius: 2% 0% 0% 2%;
}

.informacion{
    padding:0% 4%;
}

.informacion h1{
    text-transform: uppercase;
}

.informacion span{
    font-weight: 600;
}

/*Footer*/
footer{
    padding-top: 0.5%;
    padding-bottom: 2%;
    margin-top: auto;
    text-align: center;
    background: rgb(6,6,62);
    background: linear-gradient(90deg, rgba(6,6,62,1) 27%, rgba(23,33,120,1) 92%);
    color: white;
}

footer p{
    font-size: 80%;
}

footer div a{
    text-decoration: none;
    color: white;
    font-size: 90%;
    margin-left: 0.5%;
}

.redes{
    margin-top: 1%;
    margin-bottom: 1.5%;
    font-size: 200%;
}

.redes a{
    margin-left: 2%;
}

.redes .face{
    margin-left: 0%;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 160%;
    text-transform: uppercase;
    margin-bottom: 0.3%;
}

.copyright{
    margin-bottom: 0.6%;
    color: rgb(120, 129, 196);
}

.detalle a{
  color: rgb(177, 178, 195);
}

.detalle a:hover{
  text-decoration: underline;
}
