header{
    background: rgb(6,6,62);
    background: linear-gradient(90deg, rgba(6,6,62,1) 27%, rgba(23,33,120,1) 92%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
  }

  header .logo{
    margin-left: 5%;
  }
  
  header .links{
    text-transform: uppercase;
    margin-right: 6%;
  }
  
  .links a{
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin-right: 6%;
    font-size: 120%;
  }

  .links a:hover{
    cursor: pointer;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }